 {{#each videos}}
<div>
    <h5 class='text-center text-light bg-dark rounded'>{{title}}</h5>
    <video width='100%' height='100%' controls>
        <source src={{url}} type='video/mp4'>
    </video>
</div>
</br>
{{/each}}